.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active {
  color: #fff !important;
}

.css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.userBlock {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.react-quill blockquote,
.react-quill ul,
.react-quill li,
.react-quill blockquote {
  color: rgba(0, 0, 0, 0.6);
}

.react-quill {
  margin-bottom: 60px;
}
